{% extends 'base.html' %}

{% block title %}Авторы{% endblock %}

{% block content %}
    <h5><a href="{% url 'home' %}">Домой</a></h5>
    <table border="1" cellspacing="1" cellpadding="3">
        <tr>
            <td>ID</td>
            <td>Автор</td>
            <td>Книг</td>
            <td>Ссылка</td>

        </tr>
        {% for author in authors %}
            <tr>
                <td>{{ author.id  }}</td>
                <td>{{ author.name  }}</td>
                <td align="center">{{ author.book_set.count  }}</td>
                <td><a href="{% url 'aut_det' pp=author.id %}">подробнее</a></td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}
