{% extends 'base.html' %}
{% load cache %}

{% block title %}Список книг{% endblock %}
{% block content %}
    <h5><a href="{% url 'home' %}">На главную</a></h5>
    <h4>Книжечки, мой друг.</h4>
    <div>
        <h2>Всего книг: {{ amount }}</h2>
        {% cache 10 table %}
        <table border="1", cellspacing="1px" cellpadding="5px">
        <tr style="font-weight: bold">
                <td>id</td>
                <td align="center">Название книги</td>
                <td>Страниц</td>
                <td align="center">Цена, грн</td>
                <td>Дата публикации</td>
                <td>Ссылка</td>
                <td>Авторов</td>
            </tr>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.name  }}</td>
                <td align="center">{{ book.pages }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.pubdate }}</td>
                <td><a href="{% url 'detailed' pp=book.id %}">подробнее...</a></td>
                <td align="center">{{ book.authors__count }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endcache %}
    </div>
{% endblock %}

