{% extends 'base.html' %}

{% block title %}Список книг{% endblock %}

{% block content %}
    <h5><a href="{% url 'home' %}">Домой</a></h5>
    <h4>Книжечки, мой друг.</h4>
    <div>
        <p>Всего книг: {{ amount }}</p>
        {% for book in books %}
            <p>Книга: "{{ book.name  }}"  <strong>Цена:</strong> {{ book.price }} грн </p>
            <p style="font-weight:bold;">Авторы:</p>
            {% for author in book.authors.all %}
            <p>{{ author.name }}, Возраст: {{ author.age }}</p>
            {% endfor %}
            </br>
        {% endfor %}
    </div>
{% endblock %}